.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("https://wallpapercave.com/wp/wp4162278.jpg"); */
    background-size: cover;
}

.registerTitle {
    font-size: 50px;
}

.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
}

.registerForm label {
    margin: 10px 0;
    font-size: 20px;
    font-style: italic;
}

.registerInput {
    padding: 10px;
    background-color: white !important;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 2em;
}

.registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: #94bbf1;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
}

.registerButton:disabled{
    cursor: not-allowed;
    background-color: rgb(238, 155, 155);
}
.registerRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: none;

}

.linkLogin{
    color: black;
}